<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Attack</title>

    <style>

      body {
        font-family: 'Permanent Marker', cursive;
      }
      h1 {
        text-align: center;
        font-size: 52px;
        color: #E0AA3E;
      }

      h2 {
        text-align: center;
        color: #8a0303;
        font-size: 33px;
      }

      p {
        text-align: center;
        padding-top: 47px;
        font-size: 20px;
      }

      form {
        padding-top: 15px;
        text-align: center;
      }

      button {
        height: 55px;
        width: 96px;
        font-size: 20px;
        border-radius: 25px;
      }

      #gameover {
        height: 82px;
        width: 180px;
        background-color: red;
      }
    </style>
  </head>
  <body>
    <% if @game.attacker.name == 'Link' %>
      <h1><%="#{@game.attacker.name} attacked #{@game.defender.name}"%></h1><br>
      <img src="images/link_attack_kirby.jpg" alt="kirby attacked">
      <h2><%="#{@game.defender.name} was damaged"%></h2>
      <img src="images/sad_kirby.png" alt="sad kirby">
    <% else %>
      <h1><%="#{@game.attacker.name} attacked #{@game.defender.name}"%></h1><br>
      <img src="images/link_attacked.png" alt="link attacked">
      <h2><%="#{@game.defender.name} was damaged"%></h2>
      <img src="images/sad_link2.png" alt="sad link">
    <% end %>
    <p>
      <%="#{@game.defender.name}'s remaining health is #{@game.defender.hp}HP"%>
    </p>
    <% if @game.end_game? == true %>
      <form action="/end-game" method="get">
        <button id='gameover' type="submit">Game Over</button>
      </form>
    <% else %>
      <form action="/switch-turn" method="post">
        <button type="submit">play</button>
      </form>
    <% end %>
  </body>
</html>
