<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Arena</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu&display=swap" rel="stylesheet">
    <style>
      h1 {
        font-family: 'Permanent Marker', cursive;
        color: #8a0303;
      }

      .player1 {
        text-align: left;
        position: absolute;
      }
      .player2 {
        text-align: right;
      }

      .attack {
        text-align: center
      }

      button {
        height: 55px;
        width: 96px;
        font-size: 20px;
        border-radius: 25px;
        margin-top: 20px;
      }

      button:hover {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <center>
      <h1><%="#{@game.player1.name} vs #{@game.player2.name} - FIGHT!"%></h1>
    <h2>To the death!</h2>
      </center>
      <p>
       <div class="player1">
         <%=@game.player1.name%>: <%=@game.player1.hp%>HP
         </div>
      <div class="player2">
        <%=@game.player2.name%>: <%=@game.player2.hp%>HP
        </div>
        <center>
          <b><%=@game.attacker.name%>'s turn to attack</b>
          </center>
       <form class= "attack" action="/attack">
        <button  type="submit">attack</button>
     </form>
     <% if @game.attacker.count_heal == 2 %>
      <div style="display: none;">
        <form action="/heal">
          <input type="submit" value="Heal">
        </form>
      </div>
     <% else %>
      <div>
        <form action="/heal">
          <input type="submit" value="Heal">
        </form>
      </div>
     <% end %>
       </p>
  </body>
</html>
