<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>names</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu&display=swap" rel="stylesheet">
    <style>
      h1 {
        font-family: 'Permanent Marker', cursive;
        color: #8a0303;
      }

      .player1 {
        text-align: left;
        position: absolute;
      }
      .player2 {
        text-align: right;
      }

      .attack {
        text-align: center
      }
    </style>
  </head>
  <body>
    <center>
      <h1><%="#{@game.player1.name} vs #{@game.player2.name} - FIGHT!"%></h1>
    <h2>To the death!</h2>
      </center>
      <p>
       <div class="player1">
         <%=@game.player1.name%>: <%=@game.player1.hp%>HP
         </div>
      <div class="player2">
        <%=@game.player2.name%>: <%=@game.player2.hp%>HP
        </div>
       <form class= "attack" action="/attack">
        <button  type="submit">attack</button>
     </form>
       </p>
  </body>
</html>
